.bottom-nav{
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #0065b3;
    
}

.bottom-nav-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.bottombar-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style-type: none;
    height: 60px;
    text-decoration: none;
}

.bottombar-item a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 19px;
}

.bottombar-item a svg{
    font-size: 200%;
}

.bottombar-item a:hover{
    background-color: #3faafc;
    color: #fff;
}